---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my portfolio.">
  <main id="main" class="relative">
    <div id="console"></div>

    <div id="abc">
      <span id="a">User@agus-portfolio</span>
      <span id="b">~</span>
      <span id="c">$</span>
    </div>

    <div class="relative">
      <br />
      <input
        type="text"
        id="terminal"
        class="absolute inset-x-0 bottom-0 h-5"
      />
      <span class="absolute inset-x-0 h-5" id="code"> </span>
    </div>
  </main>
</Layout>

<script type="text/javascript" src="/index.js"></script>
