---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my portfolio.">
  <main class="relative">
    <script type="text/javascript" src="index.js"></script>
    <div id="console"></div>
    <input class="absolute inset-x-0 bottom-0 h-5" />
  </main>
</Layout>
