---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my portfolio.">
  <main>
    <script type="text/javascript" src="index.js"></script>
    <div id="console"></div>
  </main>
</Layout>
